//google fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&family=Barlow:wght@400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

body {
    font-size: 14px;
    font-family: $barlow;
    color:$darkBlue;
    background-color: $white;
}

//common img styles
img {
    max-width: 100%;
    display: block;
}

//loading
.loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color:$white;
    z-index: 100;
    &-text {
        font-size: 30px;
    }
}
svg {
  position: absolute;
}

circle:nth-of-type(1) { fill: #99D6F7; }
circle:nth-of-type(2) { fill: #14A7F6; }
circle:nth-of-type(3) { fill: #0D6DAC; }
circle:nth-of-type(4) { fill: #0E44AA; }

#clackers {
/*   border: 1px solid white; */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
