@import"font.css";

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Unit Rounded Pro";
    background: #0a90ca;
}

.overflow-hidden {
    overflow: hidden;
}

a, input, select, select:focus {
    outline: none;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.video-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px auto;
    z-index: 100;
    margin-top: 70px;
}

.video-wrapper.active {
    display: block;
    transition: all 2s ease-in;
}

.next-video {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 50%;
    transform: translateX(50px);
    background-color: #FFF;
    color: #14A7F6;
    padding: 20px 30px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 5px 15px #444;
}

.next-video:hover {
    background: linear-gradient(90deg, #02a1f9 0%, #29f19c 100%);
    color: #FFF;
}

.steps span {
    display: inline-block;
    width: 20px;
    height: 5px;
    background-color: #FFF;
    margin: 0 5px;
    opacity: 0.4;
    border-radius: 30px;
}

.steps span.active {
    opacity: 1;
}

video {
    width: 100%;
    border: 0;
    outline: 0;
}

/* 
 * HEADER
 */
#Header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    padding: 9px;
    text-align: center;
    z-index: 10;
}

#Header a.logo {
    display: inline-block;
    margin: 0 auto;
}

#Header a.logo img {
    display: block;
    height: 50px;
}

/* 
 * FOOTER
 */

 #Footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 10;
}

 #Footer-text {
    background-color: #ff6000;
    text-align: center;
    z-index: 10;
}

#Footer .text-wrapper {
    display: block;
    width: 90%;
    padding: 14px 0;
    color: #FFF;
    font-weight: 100;
}

#Page {
    padding: 100px 0 80px 0;
}

#Page .question-wrapper {
    display: none;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

#Page .question-wrapper.active {
    display: block;
}

#Page .question-wrapper .bg-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../images/bg-question@2x.png?v=1);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 32%;
}

#Page .question-wrapper .bg-cover.with-calgon {
    background-image: url(../images/bg-question-with-calgon@2x.png?v=1);
}

#Page .question-wrapper .step {
    color: #FFF;
    opacity: 0.7;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

#Page .question-wrapper .question {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    text-shadow: 0 3px 6px #444;
}

#Page .question-wrapper .btn-next {
    display: none;
    position: fixed;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    background-color: #FFF;
    color: #1DB2F1;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 5px 15px #444;
    font-size: 20px;
}

#Page .question-wrapper .btn-next.active {
    display: block;
}

#Page .question-wrapper .btn-next:hover {
    background-color: #1DB2F1;
    color: #FFF;
}

#Page .question-wrapper .options {
    font-size: 18px;
    position: fixed;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    display: table;
}

#Page .question-wrapper .options.button a {
    display: block;
    text-decoration: none;
    background-color: #FFF;
    color: #1DB2F1;
    padding: 10px 20px;
    margin: 15px 0px;
    border-radius: 6px;
    border: 1px solid #1DB2F1;
    cursor: pointer;
    box-shadow: 0 5px 15px #444;
}

#Page .question-wrapper .options.button.inline a {
    display: inline-block;
    margin: 0 15px;
}

#Page .question-wrapper .options.button a.active {
    background-image: linear-gradient(90deg, #02a1f9 0%, #29f19c 100%);
    color: #FFF;
    border-color: #fff;
}

#Page .question-wrapper .options.button a:hover {
    background-image: linear-gradient(90deg, #02a1f9 0%, #29f19c 100%);
    color: #FFF;
    border-color: #fff;
}

#Page .question-wrapper .options.button a.red {
    color: #E00135;
    border: 1px solid #E00135;
}

#Page .question-wrapper .options.button a.red.active {
    background-image: linear-gradient(90deg, #E00135 0%, #FF5E39 100%);
    color: #FFF;
    border-color: #fff;
}

#Page .question-wrapper .options.button a.red:hover {
    background-image: linear-gradient(90deg, #E00135 0%, #FF5E39 100%);
    color: #FFF;
    border-color: #fff;
}

#Page .question-wrapper .options.button a.yellow {
    color: #F0B209;
    border: 1px solid #F0B209;
}

#Page .question-wrapper .options.button a.yellow.active {
    background-image: linear-gradient(90deg, #F0B209 0%, #FF5E39 100%);
    color: #FFF;
    border-color: #fff;
}

#Page .question-wrapper .options.button a.yellow:hover {
    background-image: linear-gradient(90deg, #F0B209 0%, #FF5E39 100%);
    color: #FFF;
    border-color: #fff;
}

#Page .question-wrapper .options.selectbox select {
    font-size: 28px;
    padding: 15px 20px;
    color: #14A7F6;
    text-align:center;
    text-align-last:center;
    border: 2px solid #FFF;
    background-color: #FFF;
    border-radius: 30px;
    -webkit-appearance: none;
    box-shadow: 0 5px 15px #444;
}
#Page .question-wrapper .options .selectbox select option {
    background-color: #FFF;
}

#Page .question-wrapper .options .selectbox select option:not(:checked) {
    background-color: #FFF;
}

#ResultPage {
    display: none;
}

#ResultPage.active {
    display: block;
}

#ResultPage .container {
    display: block;
    max-width: 440px;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
}

#ResultPage .text-wrapper h1 {
    font-size: 36px;
    margin: 0px 0 10px 0;
    /*background: linear-gradient(90deg, #02a1f9 0%, #29f19c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

#ResultPage .text-wrapper p {
    font-size: 24px;
    margin: 0;
    line-height: 1.4em;
}

#ResultPage .button-wrapper {
    margin: 30px 0;
    font-size: 24px;
}

#ResultPage .button-wrapper a {
    color: #1DB2F1;
    display: table;
    padding: 10px 20px;
    background: #FFF;
    margin: 15px auto;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

#ResultPage .button-wrapper .discount-wrapper {
    padding: 10px;
    margin: 15px auto;
    border: 2px dotted #b7e9ff;
    border-radius: 10px;
    display: block;
}

#ResultPage .button-wrapper .discount-wrapper p.info {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#ResultPage .button-wrapper a.discount-code {
    background: #fff;
    color: #000000;
    position: relative;
    border-radius: 50px 0 0 50px;
    transform: translateX(-54px);
    font-size: 18px;
}

#ResultPage .button-wrapper a.discount-code:hover {
    background-color: #EEE;
    color: #000;
}

#ResultPage .button-wrapper a.discount-code span {
    background-color: #ff6000;
    color: #FFF;
    padding: 0px;
    padding: 10px 20px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0;
    transform: translateX(99%);
    border-radius: 0 50px 50px 0;
}

#ResultPage .button-wrapper a.discount-code:hover span {
    background: #eb5800;
}

#ResultPage .button-wrapper a.discount {
    background: #ff6000;
    color: #FFF;
    margin-bottom: 0;
}

#ResultPage .discount-info {
    margin-top: 10px;
    font-size: 12px;
}

#ResultPage .button-wrapper a.goToForm:hover {
    background: linear-gradient(90deg, #02a1f9 0%, #29f19c 100%);
    color: #FFF;
}

#ResultPage .button-wrapper a.discount:hover {
    background: #eb5800;
    
}

#WelcomePage {
    display: none;
}

#WelcomePage.active {
    display: block;
}

#WelcomePage .container {
    position: relative;
    display: block;
    max-width: 520px;
    margin: 100px auto 0 auto;
    padding-right: 160px;
    text-align: left;
    color: #FFF;
}

#WelcomePage .text-wrapper h1 {
    font-size: 36px;
    font-weight: 600;
    margin: 0px 0 10px 0;
}

#WelcomePage .text-wrapper p {
    font-size: 22px;
    font-weight: 100;
    margin: 0;
    line-height: 1.2em;
}

#WelcomePage .button-wrapper {
    margin: 30px 0;
    font-size: 24px;
}

#WelcomePage a.start {
    display: inline-block;
    cursor: pointer;
}

#WelcomePage a.start img {
    display: block;
    width: 300px;
}

#WelcomePage .bg-cover {
    position: absolute;
    right: 0px;
    top: 0;
    transform: translate(160px, -60px);
    z-index: -1;
}

#WelcomePage .bg-cover img {
    height: 800px;
}

#WelcomePage .checkbox-container {
    margin-top: 15px;
    padding-left: 0;
}

#WelcomePage .checkbox-container .info {
    display: block;
    font-size: 14px;
    padding: 5px 0 0 0;
}

#WelcomePage .checkbox-container .info a {
    color: #fff;
}

#VideoPage {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #0a90ca;
    background-image: url(../images/loader.gif);
    background-position: center center;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

#VideoPage.active {
    display: block;
}

#FormPage {
    display: none;
}

#FormPage.active {
    display: block;
}

#FormPage .container {
    display: block;
    max-width: 440px;
    margin: 0 auto 40px auto;
    text-align: center;
    color: #FFF;
}

#FormPage .text-wrapper h1 {
    font-size: 36px;
    margin: 0px 0 10px 0;
}

#FormPage .text-wrapper p {
    font-size: 24px;
    margin: 0;
    line-height: 1.4em;
}

#FormPage .form-wrapper {
    margin: 30px auto;
    font-size: 22px;
}

#FormPage .form-wrapper .input-wrapper .label {
    display: block;
    margin: 10px 0;
}

#FormPage .form-wrapper .input-wrapper input {
    padding: 10px;
    width: 100%;
    max-width: 280px;
    border: 0;
    border-radius: 30px;
    font-size: 16px;
    color: #333;
    line-height: 1em;
    -webkit-user-select: text; /* Chrome, Opera, Safari */
    -moz-user-select: text; /* Firefox 2+ */
    -ms-user-select: text; /* IE 10+ */
    user-select: text; /* Standard syntax */
}

#FormPage .form-wrapper .terms-wrapper {
    margin: 10px auto;
}

#FormPage .form-wrapper .terms-wrapper a {
    color: #FFF;
}

#FormPage .form-wrapper .terms-wrapper .checkbox-container {
    display: inline-block;
    text-align: left;
}

#FormPage .form-wrapper .terms-wrapper .info {
    font-size: 13px;
}

#FormPage .form-wrapper .terms-wrapper .checkmark {
    top: 17px;
}

#FormPage .button-wrapper {
    font-size: 24px;
}

#FormPage .button-wrapper a {
    color: #FFF;
    display: table;
    padding: 10px 20px;
    background: #1DB2F1;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 auto;
    text-decoration: none;
}

#FormPage .button-wrapper a:hover {
    background: linear-gradient(90deg, #02a1f9 0%, #29f19c 100%)
}

#FormResultPage {
    display: none;
}

#FormResultPage.active {
    display: block;
}

#ResultPage .bg-cover {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

#ResultPage .bg-cover img {
    width: 30%;
}

#FormResultPage .container {
    display: block;
    max-width: 440px;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
}

#FormResultPage .text-wrapper h1 {
    font-size: 36px;
    margin: 0px 0 10px 0;
}

#FormResultPage .text-wrapper p {
    font-size: 24px;
    margin: 0;
    line-height: 1.4em;
}

#FormResultPage .button-wrapper {
    margin: 30px 0;
    font-size: 24px;
}

#FormResultPage .button-wrapper a {
    color: #FFF;
    display: table;
    padding: 10px 20px;
    background: #1DB2F1;
    margin: 15px auto;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

#FormResultPage .button-wrapper a:hover {
    background: linear-gradient(90deg, #02a1f9 0%, #29f19c 100%)
}

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 40px;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #009dee;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

@media (max-width: 767px) {
    #Page {
        padding: 90px 0 60px 0;
        width: 94%;
        margin: 0 auto;
    }

    #Footer-text {
	display:none
    }
    #Footer-Menu li{
	float:none!important;
	height:20px;

    }
    #Page .question-wrapper .options.selectbox select {
        font-size: 18px;
    }

    #Page .question-wrapper .question {
        font-size: 26px;
    }

    .next-video {
        bottom: 80px;
        transform: translateX(50%);
    }

    #WelcomePage .container {
        margin-top: 10px;
        padding-right: 0;
        max-width: 320px;
    }

    #WelcomePage .text-wrapper h1 {
        font-size: 32px;
    }

    #WelcomePage .text-wrapper p {
        font-size: 18px;
    }

    #WelcomePage .bg-cover{
        bottom: 0;
        right: 0px;
        transform: translate(80px, 99%);
        position: absolute;
        top: auto;
    }

    #WelcomePage .bg-cover img {
        height: auto;
        width: 500px;
    }

    #WelcomePage a.start {
        position: fixed;
        bottom: 120px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #Page .question-wrapper .bg-cover {
        background-size: 90%;
    }

    #ResultPage .bg-cover {
        display: none;
    }
    
}
#footer2
{
    background:#fff;
}
ul#Footer-Menu{
    margin:0;
    height:44px;
    display: inline-block;

	     
}
ul#Footer-Menu li
{
    list-style: none;
    padding: 0;
    margin:0 10px;
    float:left;
}

ul#Footer-Menu li a
{

    text-decoration: none;
    line-height: 2.8em;
    padding-right:.5em;
    color: #214dae;
}
