#fullpage {
    display: none;
}
//welcome screeen
.welcome {
    background: url('/assets/images/welcome-bg.png') no-repeat center center;
    background-size: cover;
    color:$white;
    padding-top: 100px;
    &-title {
        font-size: 40px;
        font-family: $barlowC;
        font-weight: 700;
        margin-bottom: 30px;
        @include media-below(sm) {
            font-size: 24px;
            margin-bottom: 15px;
        }
        @include media-below(xs) {
            font-size: 24px;
            margin-bottom: 15px;
        }
    }
    &-text {
        font-size: 22px;
        line-height: 26px;
        strong {
            font-weight: 700;
        }
        @include media-below(sm) {
            font-size: 16px;
        }
    }
    &-info {
        padding: 10px;
        background-color: #FF4E00;
        font-family: $barlowC;
        font-size: 25px;
        font-weight: 700;
        @include prefix(border-radius, 3px);
        display: inline-block;
        margin-top: 10px;
        @include media-below(sm) {
            font-size: 16px;
        }
    }
    &-modal-text {
        margin-top: 50px;
        font-size: 22px;
        font-family: $barlowC;
        font-weight: 500;
        @include media-below(sm) {
            font-size: 16px;
            margin-top: 15px;
        }
        a {
            color:$white;
            text-decoration: underline;
        }
    }
    &-btn-goon {
        background-color: $darkBlue;
        font-size: 23px;
        color: $white;
        font-weight: 700;
        font-family: $barlow;
        @include prefix(box-shadow, 6px 6px 15px rgba(24, 104, 147, 0.24));
        margin-top: 50px;
        @include media-below(sm) {
            font-size: 16px;
            margin-top: 15px;
        }
        &:hover {
            color:$darkBlue;
            border:1px solid $darkBlue;
            background-color: $white;
        }
    }
    &-inner {
        display: flex;
        @include media-below(lg) {
            flex-direction: column;
            align-items: center;
        }
    }
}

//QUESTIONS
.q {
    position: relative;
    background: linear-gradient(#13c1f5 0%, #13a6f5 100%);
    &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        content:'';
        background: linear-gradient(#14a7f6 0%, #0e44aa 100%);
        opacity: 0.30;
        top:0;
        left: 0;
        z-index: -1;
    }
    &-inner {
        display: flex;
        align-items: center;
        @include media-below(lg) {
            flex-direction: column;
            align-items: center;
            padding-top: 100px;
        }
        img {
            @include media-below(lg) {
                order:1;
            }
        }
    }
    &-item {
        min-width: 475px;
        max-width: 475px;
        background-color: $white;
        @include prefix(border-radius, 8px);
        @include prefix(box-shadow, 0px 8px 6px rgba(0, 0, 0, 0.16));
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 35px 0;
        @include media-below(md) {
            min-width: 100%;
            max-width: 100%;
        }
        @include media-below(lg) {
            order:2;
        }
        @include media-below(sm) {
            padding:15px 0;
        }
        &-order {
            width: 56px;
            height: 56px;
            @include prefix(border-radius, 100px);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $darkBlue;
            color:$white;
            font-size: 30px;
            font-weight: 700;
            position: absolute;
            top: -20px;
            left: -20px;
            @include media-below(sm) {
                width: 46px;
                height: 46px;
                top: -10px;
                left: -10px;
                font-size: 25px;
            }
            &--right {
                left:inherit;
                right:-20px;
                @include media-below(sm) {
                    right:-10px;
                }
            }
        }
        &-title {
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            padding-bottom: 35px;
            margin-bottom: 35px;
            border-bottom:1px solid #ACACAC;
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
            @include media-below(sm) {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 10px;
                padding-bottom: 10px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &-answer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            select {
                background:url('/assets/images/select-bg@2x.png') no-repeat center right;
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                padding: 15px 20px;
                color: $white;
                text-align: center;
                background-color: $lightBlue;
                border:0;
                border-right:15px solid $lightBlue;
                @include prefix(border-radius, 8px);
                -webkit-appearance: none;
                @include prefix(box-shadow, (6px 6px 15px rgba(24, 104, 147, 0.24)));
                z-index: 2;
                &:focus {
                    outline: none;
                }
                @include media-below(sm) {
                    font-size: 16px;
                    line-height: 20px;
                    padding:10px 15px;
                }
            }
            &-items {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &-btn {
                    background-color: $lightBlue;
                    font-size: 18px;
                    font-weight: 700;
                    color:$white;
                    @include prefix(border-radius, 7px);
                    @include prefix(box-shadow, 6px 6px 15px rgba(24, 104, 147, 0.24));
                    margin-right: 8px;
                    z-index: 2;
                    border:0;
                    @include media-below(sm) {
                        font-size: 16px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover {
                        background-image: linear-gradient(90deg, #02a1f9 0%, #29f19c 100%);
                        color:$white;
                    }
                    &--red {
                        &:hover {
                            background-image: linear-gradient(90deg, #E00135 0%, #FF5E39 100%);
                        }
                    }
                    &--yellow {
                        &:hover {
                            background-image: linear-gradient(90deg, #F0B209 0%, #FF5E39 100%);
                        }
                    }
                }
            }
        }
    }

    &-row {
        @include media-above(lg) {
            height: 100vh;
            align-items: flex-end;
        }
    }
    
}
//for iphone 6s res. update
@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 326dpi),
  only screen and (                min-resolution: 2dppx) { 
    /* Retina styles here */
    .q1 {
        height: 100vh!important;
    }
    .result {
        &-inner {
            margin-bottom: 50px;
        }
    }
}

//RESULT
.result {
    background: linear-gradient(#13c1f5 0%, #13a6f5 100%);
    text-align: center;
    color:$white;
    @include media-above(lg) {
        padding-top: 80px;
    }
    @include media-below(md) {
        padding-top: 80px;
    }
    @include media-below(xs) {
        padding-top: 100px;
    }
    &-inner {
        @include media-below(xs) {
            margin-bottom: 50px;
        }
    }
    &-title {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 10px;
        @include media-below(sm) {
            font-size: 18px;
            line-height: inherit;
        }
    }
    &-text {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        strong {
            font-weight: 700;
            color:$darkBlue;
            font-size: 24px;
            @include media-below(sm) {
            font-size: 16px;
        }
        }
        @include media-below(sm) {
            font-size: 14px;
            line-height: 18px;
        }
    }
    &-option {
        padding: 10px;
        border: 2px dotted #b7e9ff;
        margin-top: 10px;
        @include prefix(border-radius, 10px);
        @include media-below(sm) {
                padding-bottom: 0;
        }
        &-item {
            padding:15px 0;
            border-bottom:1px dotted #b7e9ff;
            @include media-below(sm) {
                padding:5px 0;
            }
            &:last-child {
                border-bottom:0;
                @include media-below(sm) {
                    padding-bottom: 0;
                }
            }
            &-text {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 10px;
                @include media-below(sm) {
                    margin-bottom: 5px;
                    font-size: 14px;
                    line-height: 20px;
                }
                a {
                    color: $darkBlue;
                }
            }
        }
    }
    &-discount {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
        @include media-below(sm) {
            font-size: 16px;
        }
        &-code {
            background: $white;
            color: $black;
            @include prefix(border-radius, 50px 0 0 50px);
            padding:10px 20px;
            @include media-below(sm) {
                padding:5px 15px;
            }
        }
        &-copy-text {
            background-color: #ff6000;
            color: $white;
            @include prefix(border-radius, 0 50px 50px 0);
            padding:10px 20px;
            @include media-below(sm) {
                padding:5px 15px;
            }
        }
    }
    &-get-discount-btn {
        @include prefix(border-radius, 30px);
        background-color: #ff6000;
        color:$white;
        font-size: 24px;
        font-weight: 600;
        min-width: 130px;
        margin:15px 0;
        @include media-below(sm) {
            font-size: 16px;
            margin:10px;
        }
        &:hover {
            color:$white;
            border:1px solid $white;
        }
    }
    &-term-of-use-btn {
        display: block;
        font-size: 18px;
        color:$white;
        @include media-below(sm) {
            font-size: 15px;
        }
    }
    &-get-service-discount-btn, &-kde-btn {
        color: $lightBlue;
        background: $white;
        @include prefix(border-radius, 30px);
        font-size: 22px;
        border:0;
        @include media-below(sm) {
            font-size: 16px;
        }
        @include media-below(xs) {
            font-size: 14px;
        }
        &:hover {
            background: linear-gradient(90deg, #02a1f9 0%, #29f19c 100%);
            color:$white;
        }
    }
    &-kde {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            @include media-below(sm) {
                width: 70%;
            }
        }
    }
}

//FORM
.form {
    background: #0a90ca;
    #FormPage {
        padding-top:100px;
        .container {
            display: block;
            max-width: 440px;
            margin: 0 auto 40px auto;
            text-align: center;
            color: #FFF;
        }

        .text-wrapper {
            h1 {
            font-size: 36px;
            margin: 0px 0 10px 0;
            }

            p {
            font-size: 24px;
            margin: 0;
            line-height: 1.4em;
            }
        }

        .form-wrapper {
            margin: 30px auto;
            font-size: 22px;

            .input-wrapper {
            .label {
                display: block;
                margin: 10px 0;
            }

            input {
                padding: 10px;
                width: 100%;
                max-width: 280px;
                border: 0;
                border-radius: 30px;
                font-size: 16px;
                color: #333;
                line-height: 1em;
                -webkit-user-select: text;

                /* Chrome, Opera, Safari */
                -moz-user-select: text;

                /* Firefox 2+ */
                -ms-user-select: text;

                /* IE 10+ */
                user-select: text;

                /* Standard syntax */
            }
            }

            .terms-wrapper {
            margin: 10px auto;

            a {
                color: #FFF;
            }

            .checkbox-container {
                display: inline-block;
                text-align: left;
                width: 100%;
            }

            .info {
                font-size: 13px;
                &.last {
                    margin-top: 20px;
                    display: inline-block;
                }
                a {
                    color:$darkBlue;
                    text-decoration: underline;
                }
            }

            .checkmark {
                top: 17px;
            }
            }
        }

        .button-wrapper {
            font-size: 24px;

            a {
            color: #FFF;
            display: table;
            padding: 10px 20px;
            background: #1DB2F1;
            border-radius: 30px;
            cursor: pointer;
            margin: 0 auto;
            text-decoration: none;

            &:hover {
                background: linear-gradient(90deg, #02a1f9 0%, #29f19c 100%);
            }
            }
        }
    }

    .checkbox-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 40px;
    }
    .checkbox-container {
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    input:checked ~ .checkmark {
        background-color: #009dee;
        }
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .checkbox-container {
    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    #FormResultPage {
        display: none;
        &.active {
            display: block;
        }
    }

    #ResultPage .bg-cover {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;

    img {
        width: 30%;
    }
    }

    #FormResultPage {
    .container {
        display: block;
        max-width: 440px;
        margin: 0 auto;
        text-align: center;
        color: #FFF;
    }

    .text-wrapper {
        h1 {
        font-size: 36px;
        margin: 0px 0 10px 0;
        }

        p {
        font-size: 24px;
        margin: 0;
        line-height: 1.4em;
        }
    }

    .button-wrapper {
        margin: 30px 0;
        font-size: 24px;

        a {
        color: #FFF;
        display: table;
        padding: 10px 20px;
        background: #1DB2F1;
        margin: 15px auto;
        border-radius: 30px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background: linear-gradient(90deg, #02a1f9 0%, #29f19c 100%);
        }
        }
    }
    }
}

//common Modal
.common-modal {
    h5 {
        font-size: 26px;
        font-weight: 700;
    }
    p {
        font-size: 16px;
        line-height: 22px;
        margin: 5px 0;
        strong, a {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color:$darkBlue;
        }
        a {
            font-size: 16px;
        }
    }
    ol, ul {
        padding-left:15px;
        li {
            margin: 5px 0;
            font-size: 16px;
            line-height: 22px;
            display: list-item;
        }
    }
    ul {
        li {
            list-style:disc inside;
        }
    }
    ol {
        li {
            list-style:decimal inside;
        }
    }
}

//copiedCode Modal
#copiedCode {
    strong {
        @include prefix(border-radius, 8px);
        padding:5px;
        background-color: #ff6000;
        color:$white;
        font-weight: 600;
        @include media-below(sm) {
            display: inline-block;
            margin-top: 10px;
        }
    }
}


